
/* Globales */
*::after,
*::before,
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    margin:0 auto;
    max-width:100%;
    font-family:'lato';

}

/*tamaño de la imagen*/
img{
    max-width: 190px;
   
}
.contenderore{
    background-color: rgba(255, 229, 248, 1);
}




/*cuerpo */

.conteiner-logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.item{
    border-radius: 10px;
}

/*esto degine la sombrita que le sale a los cuadraditos*/
.item:hover{
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}
/*esto le da color al recuadro de hasta arriba*/
.container-fluid{
    background-color: rgba(255, 229, 248, 1);
    height: 100%;
    width: 100%; 
    right: 100%;
}

.busque{
	width: 35%;
	height: 40px;
    
}
/*esto ordena tanto texto como boton*/
.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap:10px;
}


/*esto le da estilo al boton de busqueda*/
.info-producto button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
.botons{
	width: 100%;
	background: #96aabe;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #313235;
	font-family: 'calibri';
	font-size: 18px;
	color: white;
}
